# Tutorial 1

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [2]:
my_string1 = 'Welcome to'
my_string2 = "my tutorial series"
my_string3 = "by Maria Paula Calderon"
print(my_string1 + ' ' + my_string2 + ' ' + my_string3)

Welcome to my tutorial series by Maria Paula Calderon

In [4]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [5]:
my_int = 23
print(my_int)
print(type(my_int))

23
<class 'int'>

In [6]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [7]:
my_string = "1084739"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [8]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [9]:
my_float = 9.3
print(type(my_float))
my_int = 380
print(type(my_int))

<class 'float'>
<class 'int'>

In [10]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [11]:
my_string = "9"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [12]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [13]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

In [14]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [18]:
print("Addition:", 29+3)
print("Subtraction:", 37-97)
print("Multiplication:", 8*37)
print("Division:", 90/4)
print("exponent:", 9**2)

Addition: 32
Subtraction: -60
Multiplication: 296
Division: 22.5
exponent: 81

In [19]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [20]:
my_list = ['Fresa', 'Carro', 1,2,3, '*']
print(my_list)

['Fresa', 'Carro', 1, 2, 3, '*']

In [21]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

In [22]:
my_list = ['Fresa', 'Carro', 1,2,3, '*']
print(len(my_list))
print(my_list[0])
print(my_list[2])
print(my_list[len(my_list) - 1])

6
Fresa
1
*

In [23]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [26]:
my_list = ['Fresa','Carro',1,2,3, '*']
my_list[2] = 23
my_list[len(my_list) -1 ] = 'go'
print(my_list)

['Fresa', 'Carro', 23, 2, 3, 'go']

In [27]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [28]:
my_list = ['Fresa','Piña',1,2,3, '*', 25, 'Botas']
print(my_list[1:4])

['Piña', 1, 2]

In [29]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:])

['Connect', 1, 2, 3]

In [30]:
my_list = ['Fresa','Piña',1,2,3, '*', 25, 'Botas']
print(my_list[1:])

['Piña', 1, 2, 3, '*', 25, 'Botas']

In [31]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[:3])

['Quant', 'Connect', 1]

In [33]:
my_list = ['Fresa','Piña',1,2,3, '*', 25, 'Botas']
print(my_list[:5])

['Fresa', 'Piña', 1, 2, 3]

In [34]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [35]:
my_list = ['Fresa', 'Piña', 2, 4, 6]
my_list.append(9)
print(my_list)
my_list.remove('Piña')
print(my_list)

['Fresa', 'Piña', 2, 4, 6, 9]
['Fresa', 2, 4, 6, 9]

In [36]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple)

('Welcome', 'to', 'QuantConnect')

In [37]:
my_tuple = ('QuantConnect', 'tutorial', 'series')
print(my_tuple)

('QuantConnect', 'tutorial', 'series')

In [38]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [42]:
my_tuple = ('QuantConnect', 'tutorial', 'series')
print(my_tuple[1:])
print(my_tuple[:2])

('tutorial', 'series')
('QuantConnect', 'tutorial')

In [43]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'FB', 'AAPL', 'IBM', 'GOOG'}

In [44]:
stock_list = ['Fresa', 'Piña', 'Fresa', 'Banano', 23, 28, 9, 23, 'Fresa', 'Piña']
stock_set = set(stock_list)
print(stock_set)

{'Banano', 9, 'Piña', 23, 28, 'Fresa'}

In [46]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic['GOOG'])

Alphabet

In [47]:
my_dic = {'Car': 'Carro', 'Plane': 'Avion', 'Motorcycle': 'Motocicleta'}
print(my_dic['Car'])

Carro

In [48]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [49]:
my_dic = {'Car': 'Carro', 'Plane': 'Avion', 'Motorcycle': 'Motocicleta'}
my_dic['Plane'] = 'Aeronave'
print(my_dic['Plane'])

Aeronave

In [50]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [51]:
my_dic = {'Car': 'Carro', 'Plane': 'Avion', 'Motorcycle': 'Motocicleta'}
print(my_dic.keys())

dict_keys(['Car', 'Plane', 'Motorcycle'])

In [52]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [53]:
my_str = 'Tutorials by Maria Paula'
print(my_str[9:])

 by Maria Paula

In [54]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [59]:
print("El numero de a's es esta oracion corresponde a:".count('a'))
print('La primera letra o de esta oracion aparece en la posicion'.find('o'))
print('Todas las letras a en esta frase seran remplazadas por la letra o'.replace('a','o'))

4
17
Todos los letros o en esto frose seron remplozodos por lo letro o

In [70]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [74]:
Time = '12 Octubre 2021 09:43:00 Siglo XXI '
splited_list = Time.split(' ')
day = splited_list[0]
month = splited_list[1]
year= splited_list[2]
print(day, month, year)
hour = time.split(':')[0]
century = splited_list[5]
print(hour)
print(century)

12 Octubre 2021
09
XXI

In [75]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [76]:
my_time = 'Day: {}, Month: {}'.format(12, 10)
print(my_time)

Day: 12, Month: 10

In [79]:
print ('pi is %f' % (3.14))
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [86]:
print ('The %s comes from %s' % ('tutorial', 'QuantConnect'))
print ('%f is a %s number' % (29.18, 'float'))

The tutorial comes from QuantConnect
29.180000 is a float number

# Tutorial 2

In [88]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)   # 5 is greater than or equal to 6

False
True
True
True
False

In [89]:
print (2 == 2)    # 1 equals 0
print ('Perro' == 'Gato')    # 1 equals 1
print ('Piña' != 'Fresa')    # 1 is not equal to 0
print (10 >= 5)    # 5 is greater than or equal to 5
print (0 >= 8)   # 5 is greater than or equal to 6

True
False
True
True
False

In [90]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [92]:
print (50 > 1 and -90 > 2)
print ('Perro' == 'Perro' and 'Gato' == 'Gato')
print (60 > 90 or  200 < 190)
print (8 < 108 or 890 > 10000)

False
True
False
True

In [97]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))

False
True

In [100]:
print ((70 > 89 or 100 < 200) and ('Perro' != 'Gato' and 200 > 199 ) and not ( 'Carro' == 'Carro' or 130394 < 10 and ('Uva' != 'Fresa' and 19 > 18)))
print (70 > 89 or 100 < 200) and ('Perro' != 'Gato' and 200 > 199 ) and not ( 'Carro' != 'Carro' or 130394 < 10 and ('Uva' != 'Fresa' and 19 > 18))

False
True

In [102]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

In [111]:
i = 10
if (i >= 9): 
  print ('i == 10 is true')

i == 10 is true

In [113]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [115]:
q = 10 > 9 
p = 'Perro' == 'Carro'
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

p is false

In [117]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [118]:
i = 7;
while (i < 20):
  print (i)
  i = i+2

7
9
11
13
15
17
19

In [2]:
for x in [1,2,3,4,5]:
   print (x)

1
2
3
4
5

In [3]:
for x in ['Perro', 'Gato', 'Leon', 'Araña']:
   print (x)

Perro
Gato
Leon
Araña

In [4]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [5]:
stocks = ['Perro', 'Gato', 'Leon', 'Araña', 1, 2, 3, 4, 5]
selected = ['Gato', 2, 5]
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['Perro', 'Leon', 'Araña', 1, 3, 4]

In [6]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB':
       break

AAPL
GOOG
IBM
FB

In [7]:
stocks = ['Perro', 'Gato', 'Leon', 'Araña', 1, 2, 3, 4, 5]
for stock in stocks:
    print (stock)
    if stock == 'Leon':
       break

Perro
Gato
Leon

In [9]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': 
      continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

In [10]:
stocks = ['Perro', 'Gato', 'Leon', 'Araña', 1, 2, 3, 4, 5]
for stock in stocks:
    if stock == 'Araña': 
      continue
    print (stock)

Perro
Gato
Leon
1
2
3
4
5

In [11]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [12]:
div = []
for i in [2, 4, 6, 8, 10]:
    div.append(i/2)
print (div)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [13]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

In [14]:
foo = [2, 4, 6, 8, 10]
div = [x/2 for x in foo]
print (div)

[1.0, 2.0, 3.0, 4.0, 5.0]

In [15]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [16]:
stocks = ['Perro', 'Gato', 'Leon', 'Araña', 1, 2, 3, 4, 5]
selected = ['Leon',2, 3]
new_list = [x for x in stocks if x not in selected]
print (new_list)

['Perro', 'Gato', 'Araña', 1, 4, 5]

In [18]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [23]:
print ([(x,y) for x in [10, 15 , 22] for y in [2, 5, 8] if x % y != 0])
print ([str(x) + ' ' + str(y) for x in ['Maria','Ana','Luisa']
                                for y in ['Paula','Veronica','Maria','Ana'] if x != y])

[(10, 8), (15, 2), (15, 8), (22, 5), (22, 8)]
['Maria Paula', 'Maria Veronica', 'Maria Ana', 'Ana Paula', 'Ana Veronica', 'Ana Maria', 'Luisa Paula', 'Luisa Veronica', 'Luisa Maria', 'Luisa Ana']

# Tutorial 3

In [25]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))

6
50

In [27]:
def division(x,y):
    return x/y
print (division(10,2))
print (division(50,7))

5.0
7.142857142857143

In [28]:
def say_hi():
    print ('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [29]:
def say_hi():
    print ('Tutorial series by QuantConnect')
say_hi()

Tutorial series by QuantConnect

In [40]:
My_list1 = [*range(10)]
print(My_list1)
My_list2 = [*range(1, 11)]
print(My_list2)
My_list3 = [*range(1, 11, 2)]
print(My_list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [49]:
My_list = [*range(11, 17, 2)]
print(My_list)

[11, 13, 15]

In [51]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [55]:
tickers = ['Fresa', 'Piña', 109, 383, 5, 'Leon', 'Tigre']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 7
1 Fresa
2 Piña
3 1
4 3
5 5
6 Leon
7 Tigre

In [56]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [59]:
tickers = ['Fresa', 'Piña', 'Leon', 'Tigre', 'P', 'Y', 'La']
print(list(map(len,tickers)))

[5, 4, 4, 5, 1, 1, 2]

In [64]:
print(list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
print(list(map(lambda x: x/2, range(10, 21))))

[5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0]

In [68]:
print(list(map(lambda x, y: y-x, [4, 10, 14, 20], [20, 19, 18, 17])))

[16, 9, 4, -3]

In [69]:
print(list(sorted([5,2,3,4,1])))

[1, 2, 3, 4, 5]

In [71]:
print(list(sorted([100, 19736, 9, 27, 476])))

[9, 27, 100, 476, 19736]

In [72]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
print(list(sorted(price_list, key = lambda x: x[1])))

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [73]:
price_list = [('Paula', 10384), ('Luisa', 85900), ('Ana', 1), ('Maria', 48)]
print(list(sorted(price_list, key = lambda x: x[1])))

[('Ana', 1), ('Maria', 48), ('Paula', 10384), ('Luisa', 85900)]

In [75]:
price_list = [('Paula', 10384), ('Luisa', 85900), ('Ana', 1), ('Maria', 48)]
print(list(sorted(price_list, key = lambda x: x[1], reverse = True)))

[('Luisa', 85900), ('Paula', 10384), ('Maria', 48), ('Ana', 1)]

In [76]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [78]:
price_list = [('Paula', 10384), ('Luisa', 85900), ('Ana', 1), ('Maria', 48)]
price_list.sort(key = lambda x: x[1], reverse = True)
print (price_list)

[('Luisa', 85900), ('Paula', 10384), ('Maria', 48), ('Ana', 1)]

In [83]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [84]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)
amazon = Stock('AMZ', 292.5, 920.6, 87987023)
amazon.ticker
amazon.print_return()
amazon.update(300.78, 208429)
amazon.print_return()

2.1473504273504274
691.9616330873064

In [85]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [86]:
amazon.ceo = 'Andy Jassy'
amazon.ceo

'Andy Jassy'

In [87]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [88]:
dir(amazon)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [92]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
100
102
0.020000000000000018
None

In [93]:
net = Child('NET')
print (net.name)
net.update(489, 2977)
print (net.open)
print (net.close)
print (net.print_return())

NET
489
2977
5.087934560327199
None

# Tutorial 4

In [1]:
import numpy as np

In [3]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [5]:
numbers_list = [1, 2, 3, 4, 5, 6]
animals_list = ['Perro', 'Gato', 'Rana', 'Leon']
price_list = [123.45 , 8483.46 , 88.36, 878.37]
numbers_array = np.array(numbers_list)
animals_array = np.array(animals_list)
price_array = np.array(price_list)
print (numbers_array, type(numbers_array))
print (animals_array, type(animals_array))
print (price_array, type(price_array))

[1 2 3 4 5 6] <class 'numpy.ndarray'>
['Perro' 'Gato' 'Rana' 'Leon'] <class 'numpy.ndarray'>
[ 123.45 8483.46   88.36  878.37] <class 'numpy.ndarray'>

In [6]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [12]:
Ar_2 = np.array([[23, 17], [24, 68], [39,92], [29, 58]])
print (Ar_2, type(Ar_2))

[[23 17]
 [24 68]
 [39 92]
 [29 58]] <class 'numpy.ndarray'>

In [15]:
Ar = np.array([[1,3], [2,4]])
print (Ar.shape)

(2, 2)

In [16]:
Ar_2 = np.array([[23, 17], [24, 68], [39,92], [29, 58]])
print (Ar_2.shape)

(4, 2)

In [18]:
Ar = np.array([[1,3], [2,4]])
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

In [20]:
Ar_2 = np.array([[23, 17], [24, 68], [39,92], [29, 58]])
print (Ar_2[0])
print (Ar_2[1])
print (Ar_2[3])

[23 17]
[24 68]
[29 58]

In [22]:
Ar = np.array([[1,3], [2,4]])
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [23]:
Ar_2 = np.array([[23, 17], [24, 68], [39,92], [29, 58]])
print('First column: ', Ar_2[:,0])
print('Second column: ', Ar_2[:,1])

First column:  [23 24 39 29]
Second column:  [17 68 92 58]

In [25]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [28]:
price_list = [123.45 , 8483.46 , 88.36, 878.37]
price_array = np.array(price_list)
np.log(price_array)

array([4.81583622, 9.04587366, 4.48141938, 6.77806792])

In [30]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [31]:
price_list = [123.45 , 8483.46 , 88.36, 878.37]
price_array = np.array(price_list)
print(np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

2393.4100000000003
3530.227652298078
9573.640000000001
8483.46

In [32]:
import pandas as pd

In [33]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [36]:
numbers = [123.5, 902.4, 9.38, 389.03]
n = pd.Series(numbers)
print(n)

0    123.50
1    902.40
2      9.38
3    389.03
dtype: float64

In [34]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [37]:
n = pd.Series(numbers, index = ['-', '*', '+', ':'])
print (n)

-    123.50
*    902.40
+      9.38
:    389.03
dtype: float64

In [38]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [39]:
n.index = [2, 2**2, 2**3, 2**4]
print (n)

2     123.50
4     902.40
8       9.38
16    389.03
dtype: float64

In [40]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [46]:
print (n[2:])
print (n[:3])

8       9.38
16    389.03
dtype: float64
2    123.50
4    902.40
8      9.38
dtype: float64

In [47]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [51]:
print (n[2])
n[2] = 10
print (n)

10.0
2      10.00
4     902.40
8       9.38
16    389.03
dtype: float64

In [52]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [54]:
n = pd.Series(numbers, name = 'Amazon Prices')
print (n)
print (n.name)

0    123.50
1    902.40
2      9.38
3    389.03
Name: Amazon Prices, dtype: float64
Amazon Prices

In [55]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [56]:
print (n.describe())

count      4.00000
mean     356.07750
std      397.42739
min        9.38000
25%       94.97000
50%      256.26500
75%      517.37250
max      902.40000
Name: Amazon Prices, dtype: float64

In [67]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [69]:
time_index = pd.date_range('2021-10-13', periods = len(n), freq = 'D')
print (time_index)
n.index = time_index
print (n)

DatetimeIndex(['2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16'], dtype='datetime64[ns]', freq='D')
2021-10-13    123.50
2021-10-14    902.40
2021-10-15      9.38
2021-10-16    389.03
Freq: D, Name: Amazon Prices, dtype: float64

In [59]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [63]:
n.index = [2, 4, 6, 8]
print (n)
print (n[6])

2    123.50
4    902.40
6      9.38
8    389.03
Name: Amazon Prices, dtype: float64
9.38

In [64]:
print (s.iloc[1])

145.83

In [65]:
print (n.iloc[3])

389.03

In [68]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [70]:
n.index = time_index
print (n['2021-10-15'])

9.38

In [72]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [74]:
print (n['2021-10-13':'2021-10-15'])

2021-10-13    123.50
2021-10-14    902.40
2021-10-15      9.38
Freq: D, Name: Amazon Prices, dtype: float64

In [75]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [81]:
print (n[n > np.mean(n)])
print (n[(n > np.mean(n)) & (n < np.mean(n) + 1.64*np.std(n))])

2021-10-14    902.40
2021-10-16    389.03
Name: Amazon Prices, dtype: float64
2021-10-14    902.40
2021-10-16    389.03
Name: Amazon Prices, dtype: float64

# Tutotial 5

In [57]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)

In [58]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 140.91, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.951, 'beta3Year': None, 'enterpriseToEbitda': 21.751, '52WeekChange': 0.16767061, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.5869, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.24707985, 'priceToBook': 36.2983, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2412978896896, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.709598, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 24.8081, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 141.51, 'regularMarketOpen': 141.235, 'twoHundredDayAverage': 138.28957, 'trailingAnnualDividendYield': 0.0059006433, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 141.4, 'navPrice': None, 'averageDailyVolume10Day': 74294614, 'regularMarketPreviousClose': 141.51, 'fiftyDayAverage': 147.11171, 'trailingAnnualDividendRate': 0.835, 'open': 141.235, 'toCurrency': None, 'averageVolume10days': 74294614, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 139.2, 'currency': 'USD', 'trailingPE': 27.586142, 'regularMarketVolume': 74732031, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2329270550528, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 79472161, 'dayLow': 139.2, 'ask': 140.94, 'askSize': 1400, 'volume': 74732031, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 140.92, 'tradeable': False, 'dividendYield': 0.0062, 'bidSize': 1100, 'dayHigh': 141.4, 'regularMarketPrice': 140.91, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379043  24.402096  23.609058  ...  223164000        0.0             0
2016-01-06  23.182571  23.599840  23.023503  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946561  41.150098  40.822044  ...   65920800        0.0             0
2017-12-29  40.831633  40.848393  40.520342  ...  103999600        0.0             0

[503 rows x 7 columns]

In [59]:
aapl = aapl_table['Close']['2017']

In [60]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041647
                ...
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850780
2017-12-28    40.965717
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [86]:
aapl = aapl_table['Close']['2016']

In [87]:
print(aapl)

Date
2016-01-04    24.286825
2016-01-05    23.678221
2016-01-06    23.214842
2016-01-07    22.235071
2016-01-08    22.352638
                ...
2016-12-23    27.459555
2016-12-27    27.633949
2016-12-28    27.516115
2016-12-29    27.509048
2016-12-30    27.294590
Name: Close, Length: 252, dtype: float64

In [90]:
#aapl is related to 2016, have to change to 2017
print (aapl['2017-3'])

Date
2017-03-01    33.086288
2017-03-02    32.889835
2017-03-03    33.083920
2017-03-06    32.979774
2017-03-07    33.022381
2017-03-08    32.899315
2017-03-09    32.823570
2017-03-10    32.932442
2017-03-13    32.946644
2017-03-14    32.896931
2017-03-15    33.244862
2017-03-16    33.299305
2017-03-17    33.133621
2017-03-20    33.481556
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353737
2017-03-24    33.287464
2017-03-27    33.344273
2017-03-28    34.035389
2017-03-29    34.111137
2017-03-30    34.066162
2017-03-31    34.002258
Name: Close, dtype: float64

In [92]:
print ([aapl['2017-01']])

[Date
2017-01-03    27.372358
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041647
2017-01-10    28.069921
2017-01-11    28.220755
2017-01-12    28.102921
2017-01-13    28.053432
2017-01-17    28.279669
2017-01-18    28.277309
2017-01-19    28.227819
2017-01-20    28.279669
2017-01-23    28.298525
2017-01-24    28.272600
2017-01-25    28.722713
2017-01-26    28.736851
2017-01-27    28.739210
2017-01-30    28.663803
2017-01-31    28.597811
Name: Close, dtype: float64]

In [93]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341724
2017-02-02    30.289883
2017-02-03    30.419498
2017-02-06    30.704647
2017-02-07    30.996868
                ...
2017-04-24    33.997517
2017-04-25    34.208164
2017-04-26    34.006981
2017-04-27    34.033031
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [94]:
aapl['2017-7':'2017-9']

Date
2017-07-03    34.104584
2017-07-05    34.244793
2017-07-06    33.921589
2017-07-07    34.266190
2017-07-10    34.475330
                ...
2017-09-25    35.920612
2017-09-26    36.538574
2017-09-27    36.798634
2017-09-28    36.571976
2017-09-29    36.772396
Name: Close, Length: 63, dtype: float64

In [95]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372358
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657738
2017-12-18    42.244396
2017-12-19    41.794228
2017-12-20    41.748737
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64

In [97]:
print(aapl.head())
print(aapl.tail(5))

Date
2017-01-03    27.372358
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-22    41.906773
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64

In [61]:
by_month = aapl.resample('M').mean()
print (by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282218
2017-04-30    33.819263
2017-05-31    36.125684
2017-06-30    35.133982
2017-07-31    35.245242
2017-08-31    37.897226
2017-09-30    37.604737
2017-10-31    37.654551
2017-11-30    41.233916
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [62]:
by_week = aapl.resample('W').mean()
print (by_week)

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266115
2017-01-29    28.553982
2017-02-05    29.662541
2017-02-12    31.086280
2017-02-19    31.947353
2017-02-26    32.366764
2017-03-05    32.778590
2017-03-12    32.931491
2017-03-19    33.104274
2017-03-26    33.338592
2017-04-02    33.911842
2017-04-09    34.058591
2017-04-16    33.588653
2017-04-23    33.534568
2017-04-30    34.049117
2017-05-07    34.870425
2017-05-14    36.524844
2017-05-21    36.458389
2017-05-28    36.533966
2017-06-04    36.544185
2017-06-11    36.491663
2017-06-18    34.400708
2017-06-25    34.657381
2017-07-02    34.369809
2017-07-09    34.134287
2017-07-16    34.847989
2017-07-23    35.709753
2017-07-30    36.046284
2017-08-06    36.499265
2017-08-13    37.739789
2017-08-20    38.068447
2017-08-27    37.989230
2017-09-03    38.928349
2017-09-10    38.406775
2017-09-17    38.183457
2017-09-24    37.161306
2017-10-01    36.520437
2017-10-08    36.861154
2017-10-15    37.282037
2017-10-22    37.809811
2017-10-29    37.704830
2017-11-05    40.239673
2017-11-12    41.824805
2017-11-19    40.977213
2017-11-26    41.488331
2017-12-03    41.163989
2017-12-10    40.570142
2017-12-17    41.321551
2017-12-24    41.920183
2017-12-31    40.795709
Freq: W-SUN, Name: Close, dtype: float64

In [63]:
by_week = aapl.resample('W').mean()
print (by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266115
2017-01-29    28.553982
2017-02-05    29.662541
Freq: W-SUN, Name: Close, dtype: float64

In [64]:
by_week = aapl.resample('W').mean()
print (by_week.head(10))

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266115
2017-01-29    28.553982
2017-02-05    29.662541
2017-02-12    31.086280
2017-02-19    31.947353
2017-02-26    32.366764
2017-03-05    32.778590
2017-03-12    32.931491
Freq: W-SUN, Name: Close, dtype: float64

In [65]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451962
2017-03-31    34.111130
2017-04-30    34.264984
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471706
2017-08-31    39.129723
2017-09-30    39.141647
2017-10-31    40.332233
2017-11-30    42.050140
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

In [66]:
aapl.resample('W').max()

Date
2017-01-08    27.787130
2017-01-15    28.220753
2017-01-22    28.279667
2017-01-29    28.739212
2017-02-05    30.419489
2017-02-12    31.341906
2017-02-19    32.122978
2017-02-26    32.451962
2017-03-05    33.086285
2017-03-12    33.022377
2017-03-19    33.299305
2017-03-26    33.481560
2017-04-02    34.111130
2017-04-09    34.264984
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208168
2017-05-07    35.256699
2017-05-14    37.099133
2017-05-21    37.004059
2017-05-28    36.597660
2017-06-04    36.944649
2017-06-11    36.925636
2017-06-18    34.838966
2017-06-25    34.779541
2017-07-02    34.658333
2017-07-09    34.266186
2017-07-16    35.421227
2017-07-23    35.891808
2017-07-30    36.471706
2017-08-06    37.346298
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170559
2017-09-03    39.141647
2017-09-10    38.671616
2017-09-17    38.533234
2017-09-24    37.872318
2017-10-01    36.798641
2017-10-08    37.075417
2017-10-15    37.457165
2017-10-22    38.287483
2017-10-29    38.903061
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897202
2017-12-03    41.686478
2017-12-10    40.659225
2017-12-17    41.657745
2017-12-24    42.244408
2017-12-31    40.965717
Freq: W-SUN, Name: Close, dtype: float64

In [104]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787130
2017-01-09    28.110774
2017-01-12    28.078176
2017-01-15    28.279669
                ...
2017-12-17    42.019312
2017-12-20    41.854094
2017-12-23          NaN
2017-12-26    40.886706
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495495
2017-01-22    28.172571
2017-02-05    29.108262
2017-02-19    31.516814
2017-03-05    32.595558
2017-03-19    33.017884
2017-04-02    33.625218
2017-04-16    33.849728
2017-04-30    33.791842
2017-05-14    35.697632
2017-05-28    36.496180
2017-06-11    36.515006
2017-06-25    34.529045
2017-07-09    34.265134
2017-07-23    35.278871
2017-08-06    36.272775
2017-08-20    37.904117
2017-09-03    38.458793
2017-09-17    38.282706
2017-10-01    36.840872
2017-10-15    37.071597
2017-10-29    37.757320
2017-11-12    41.032240
2017-11-26    41.204376
2017-12-10    40.867067
2017-12-24    41.620865
2018-01-07    40.795712
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056854
2017-07-31    35.186963
2017-09-30    37.761185
2017-11-30    39.402613
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [105]:
five_day = aapl.resample('5D').mean()
four_week = aapl.resample('4W').mean()
six_month = aapl.resample('6M').mean()


print(five_day)
print(four_week)
print(six_month )

Date
2017-01-03    27.495495
2017-01-08    28.108811
2017-01-13    28.166551
2017-01-18    28.261599
2017-01-23    28.553980
                ...
2017-12-09    41.237105
2017-12-14    41.713609
2017-12-19    41.839128
2017-12-24    40.886706
2017-12-29    40.522732
Freq: 5D, Name: Close, Length: 73, dtype: float64
Date
2017-01-08    27.495495
2017-02-05    28.665040
2017-03-05    32.027798
2017-04-02    33.321551
2017-04-30    33.819261
2017-05-28    36.096906
2017-06-25    35.469763
2017-07-23    34.798680
2017-08-20    37.088446
2017-09-17    38.375383
2017-10-15    36.956234
2017-11-12    39.394780
2017-12-10    41.026845
2018-01-07    41.385107
Freq: 4W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-07-31    34.249550
2018-01-31    39.068340
Freq: 6M, Name: Close, dtype: float64

In [106]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072531
2017-01-22    0.025556
2017-01-29    0.245283
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231393
2017-02-26    0.059348
2017-03-05    0.340091
2017-03-12    0.076281
2017-03-19    0.177835
2017-03-26    0.157264
2017-04-02    0.319807
2017-04-09    0.128689
2017-04-16    0.212474
2017-04-23    0.174672
2017-04-30    0.090022
2017-05-07    0.235637
2017-05-14    0.352979
2017-05-21    0.536091
2017-05-28    0.060391
2017-06-04    0.281223
2017-06-11    0.620034
2017-06-18    0.382568
2017-06-25    0.128891
2017-07-02    0.264107
2017-07-09    0.158884
2017-07-16    0.404282
2017-07-23    0.124986
2017-07-30    0.384441
2017-08-06    0.924393
2017-08-13    0.467468
2017-08-20    0.435254
2017-08-27    0.275764
2017-09-03    0.251728
2017-09-10    0.381641
2017-09-17    0.294141
2017-09-24    0.735193
2017-10-01    0.354842
2017-10-08    0.204856
2017-10-15    0.118732
2017-10-22    0.516999
2017-10-29    0.680459
2017-11-05    0.560684
2017-11-12    0.190972
2017-11-19    0.436195
2017-11-26    0.563048
2017-12-03    0.427444
2017-12-10    0.073129
2017-12-17    0.205261
2017-12-24    0.194121
2017-12-31    0.190394
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220755
2017-01-22    28.279669
2017-01-29    28.739210
2017-02-05    30.419498
2017-02-12    31.341908
2017-02-19    32.122974
2017-02-26    32.451973
2017-03-05    33.086288
2017-03-12    33.022381
2017-03-19    33.299305
2017-03-26    33.481556
2017-04-02    34.111137
2017-04-09    34.264980
2017-04-16    33.886276
2017-04-23    33.713505
2017-04-30    34.208164
2017-05-07    35.256695
2017-05-14    37.099129
2017-05-21    37.004063
2017-05-28    36.597660
2017-06-04    36.944649
2017-06-11    36.925636
2017-06-18    34.838959
2017-06-25    34.779537
2017-07-02    34.658329
2017-07-09    34.266190
2017-07-16    35.421227
2017-07-23    35.891796
2017-07-30    36.471699
2017-08-06    37.346298
2017-08-13    38.277927
2017-08-20    38.557098
2017-08-27    38.170567
2017-09-03    39.141659
2017-09-10    38.671612
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798634
2017-10-08    37.075417
2017-10-15    37.457169
2017-10-22    38.287479
2017-10-29    38.903065
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657738
2017-11-26    41.897198
2017-12-03    41.686470
2017-12-10    40.659218
2017-12-17    41.657738
2017-12-24    42.244396
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041647
2017-01-22    28.227819
2017-01-29    28.272600
2017-02-05    28.597811
2017-02-12    30.704647
2017-02-19    31.547825
2017-02-26    32.314690
2017-03-05    32.409367
2017-03-12    32.823570
2017-03-19    32.896931
2017-03-26    33.098122
2017-04-02    33.344273
2017-04-09    33.926517
2017-04-16    33.384506
2017-04-23    33.296936
2017-04-30    33.997517
2017-05-07    34.681549
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443180
2017-06-04    36.305336
2017-06-11    35.406971
2017-06-18    33.812252
2017-06-25    34.463451
2017-07-02    34.147350
2017-07-09    33.921589
2017-07-16    34.475330
2017-07-23    35.544819
2017-07-30    35.530552
2017-08-06    35.347553
2017-08-13    37.058708
2017-08-20    37.578846
2017-08-27    37.509663
2017-09-03    38.526073
2017-09-10    37.848457
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920612
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216183
2017-10-29    37.261517
2017-11-05    39.778713
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702316
2017-12-03    40.582592
2017-12-10    40.470051
2017-12-17    41.114189
2017-12-24    41.748737
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

In [107]:
std = aapl.resample('M').std()
max = aapl.resample('M').max()
min = aapl.resample('M').min()


print(std)
print(max)
print(min)

Date
2017-01-31    0.425088
2017-02-28    0.773847
2017-03-31    0.407926
2017-04-30    0.291041
2017-05-31    0.760190
2017-06-30    1.053871
2017-07-31    0.774826
2017-08-31    0.767478
2017-09-30    0.943681
2017-10-31    0.946221
2017-11-30    0.638005
2017-12-31    0.551568
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    28.739210
2017-02-28    32.451973
2017-03-31    34.111137
2017-04-30    34.264980
2017-05-31    37.099129
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129726
2017-09-30    39.141659
2017-10-31    40.332253
2017-11-30    42.050140
2017-12-31    42.244396
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    27.341726
2017-02-28    30.289883
2017-03-31    32.823570
2017-04-30    33.296936
2017-05-31    34.681549
2017-06-30    33.812252
2017-07-31    33.921589
2017-08-31    35.661266
2017-09-30    35.920612
2017-10-31    36.619694
2017-11-30    39.819267
2017-12-31    40.470051
Freq: M, Name: Close, dtype: float64

In [67]:
last_dayM = aapl.resample('M').agg(lambda x: x[-1])
print(last_dayM)

Date
2017-01-31    28.597813
2017-02-28    32.423565
2017-03-31    34.002254
2017-04-30    33.999886
2017-05-31    36.305328
2017-06-30    34.228161
2017-07-31    35.347549
2017-08-31    39.129723
2017-09-30    36.772388
2017-10-31    40.332233
2017-11-30    41.150101
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [68]:
last_dayW = aapl.resample('W').agg(lambda x: x[-1])
print(last_dayW)

Date
2017-01-08    27.787130
2017-01-15    28.053427
2017-01-22    28.279667
2017-01-29    28.739212
2017-02-05    30.419489
2017-02-12    31.270912
2017-02-19    32.122978
2017-02-26    32.345467
2017-03-05    33.083912
2017-03-12    32.932446
2017-03-19    33.133625
2017-03-26    33.287476
2017-04-02    34.002254
2017-04-09    33.926525
2017-04-16    33.384510
2017-04-23    33.673264
2017-04-30    33.999886
2017-05-07    35.256699
2017-05-14    37.099133
2017-05-21    36.376629
2017-05-28    36.507347
2017-06-04    36.944649
2017-06-11    35.406975
2017-06-18    33.812256
2017-06-25    34.765278
2017-07-02    34.228161
2017-07-09    34.266186
2017-07-16    35.421227
2017-07-23    35.713558
2017-07-30    35.530552
2017-08-06    37.168041
2017-08-13    37.574078
2017-08-20    37.578842
2017-08-27    38.141937
2017-09-03    39.141647
2017-09-10    37.848465
2017-09-17    38.146713
2017-09-24    36.240330
2017-10-01    36.772388
2017-10-08    37.053944
2017-10-15    37.457165
2017-10-22    37.280605
2017-10-29    38.903061
2017-11-05    41.157795
2017-11-12    41.825359
2017-11-19    40.743019
2017-11-26    41.897202
2017-12-03    40.958542
2017-12-10    40.556252
2017-12-17    41.657745
2017-12-24    41.906773
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [114]:
weekly_return = aapl.resample('W').agg(lambda x: x[-1]/x[0] - 1)
print(weekly_return)

Date
2017-01-08    0.015153
2017-01-15    0.000420
2017-01-22    0.000000
2017-01-29    0.015573
2017-02-05    0.061251
2017-02-12    0.018442
2017-02-19    0.018231
2017-02-26   -0.000293
2017-03-05    0.020814
2017-03-12   -0.001435
2017-03-19    0.005675
2017-03-26   -0.005797
2017-04-02    0.019733
2017-04-09   -0.002505
2017-04-16   -0.014807
2017-04-23    0.003102
2017-04-30    0.000070
2017-05-07    0.016237
2017-05-14    0.024406
2017-05-21   -0.016955
2017-05-28   -0.002468
2017-06-04    0.011583
2017-06-11   -0.032157
2017-06-18   -0.021662
2017-06-25   -0.000410
2017-07-02   -0.012344
2017-07-09    0.004739
2017-07-16    0.027437
2017-07-23    0.004747
2017-07-30   -0.017030
2017-08-06    0.051503
2017-08-13   -0.004481
2017-08-20   -0.014701
2017-08-27    0.016856
2017-09-03    0.015978
2017-09-10   -0.021286
2017-09-17   -0.010031
2017-09-24   -0.042730
2017-10-01    0.023713
2017-10-08    0.009687
2017-10-15    0.007380
2017-10-22   -0.022705
2017-10-29    0.044055
2017-11-05    0.034669
2017-11-12    0.006014
2017-11-19   -0.021958
2017-11-26    0.029357
2017-12-03   -0.017462
2017-12-10   -0.002532
2017-12-17    0.007529
2017-12-24   -0.007992
2017-12-31   -0.007856
Freq: W-SUN, Name: Close, dtype: float64

In [117]:
print(weekly_return.mean())
print(weekly_return.std())
print(weekly_return.max())

0.004091466186323859
0.020404121863419174
0.06125130488988351

In [69]:
#Last day of month
print(last_dayM.diff())
print(last_dayM.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825752
2017-03-31    1.578690
2017-04-30   -0.002369
2017-05-31    2.305443
2017-06-30   -2.077168
2017-07-31    1.119389
2017-08-31    3.782173
2017-09-30   -2.357334
2017-10-31    3.559845
2017-11-30    0.817867
2017-12-31   -0.627365
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [70]:
#Last day of week
print(last_dayW.diff())
print(last_dayW.pct_change())

Date
2017-01-08         NaN
2017-01-15    0.266296
2017-01-22    0.226240
2017-01-29    0.459545
2017-02-05    1.680277
2017-02-12    0.851423
2017-02-19    0.852066
2017-02-26    0.222488
2017-03-05    0.738445
2017-03-12   -0.151466
2017-03-19    0.201180
2017-03-26    0.153851
2017-04-02    0.714779
2017-04-09   -0.075729
2017-04-16   -0.542015
2017-04-23    0.288754
2017-04-30    0.326622
2017-05-07    1.256813
2017-05-14    1.842434
2017-05-21   -0.722504
2017-05-28    0.130718
2017-06-04    0.437302
2017-06-11   -1.537674
2017-06-18   -1.594719
2017-06-25    0.953022
2017-07-02   -0.537117
2017-07-09    0.038025
2017-07-16    1.155041
2017-07-23    0.292332
2017-07-30   -0.183006
2017-08-06    1.637489
2017-08-13    0.406036
2017-08-20    0.004765
2017-08-27    0.563095
2017-09-03    0.999710
2017-09-10   -1.293182
2017-09-17    0.298248
2017-09-24   -1.906384
2017-10-01    0.532059
2017-10-08    0.281555
2017-10-15    0.403221
2017-10-22   -0.176559
2017-10-29    1.622456
2017-11-05    2.254734
2017-11-12    0.667564
2017-11-19   -1.082340
2017-11-26    1.154182
2017-12-03   -0.938660
2017-12-10   -0.402290
2017-12-17    1.101494
2017-12-24    0.249027
2017-12-31   -1.384037
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08         NaN
2017-01-15    0.009583
2017-01-22    0.008065
2017-01-29    0.016250
2017-02-05    0.058466
2017-02-12    0.027989
2017-02-19    0.027248
2017-02-26    0.006926
2017-03-05    0.022830
2017-03-12   -0.004578
2017-03-19    0.006109
2017-03-26    0.004643
2017-04-02    0.021473
2017-04-09   -0.002227
2017-04-16   -0.015976
2017-04-23    0.008649
2017-04-30    0.009700
2017-05-07    0.036965
2017-05-14    0.052258
2017-05-21   -0.019475
2017-05-28    0.003593
2017-06-04    0.011978
2017-06-11   -0.041621
2017-06-18   -0.045040
2017-06-25    0.028186
2017-07-02   -0.015450
2017-07-09    0.001111
2017-07-16    0.033708
2017-07-23    0.008253
2017-07-30   -0.005124
2017-08-06    0.046087
2017-08-13    0.010924
2017-08-20    0.000127
2017-08-27    0.014984
2017-09-03    0.026210
2017-09-10   -0.033039
2017-09-17    0.007880
2017-09-24   -0.049975
2017-10-01    0.014681
2017-10-08    0.007657
2017-10-15    0.010882
2017-10-22   -0.004714
2017-10-29    0.043520
2017-11-05    0.057958
2017-11-12    0.016220
2017-11-19   -0.025878
2017-11-26    0.028328
2017-12-03   -0.022404
2017-12-10   -0.009822
2017-12-17    0.027160
2017-12-24    0.005978
2017-12-31   -0.033027
Freq: W-SUN, Name: Close, dtype: float64

In [71]:
#Daily return of month
daily_return = last_dayM.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [72]:
#Daily return of week
daily_return = last_dayW.pct_change()
print(daily_return.fillna(0))

Date
2017-01-08    0.000000
2017-01-15    0.009583
2017-01-22    0.008065
2017-01-29    0.016250
2017-02-05    0.058466
2017-02-12    0.027989
2017-02-19    0.027248
2017-02-26    0.006926
2017-03-05    0.022830
2017-03-12   -0.004578
2017-03-19    0.006109
2017-03-26    0.004643
2017-04-02    0.021473
2017-04-09   -0.002227
2017-04-16   -0.015976
2017-04-23    0.008649
2017-04-30    0.009700
2017-05-07    0.036965
2017-05-14    0.052258
2017-05-21   -0.019475
2017-05-28    0.003593
2017-06-04    0.011978
2017-06-11   -0.041621
2017-06-18   -0.045040
2017-06-25    0.028186
2017-07-02   -0.015450
2017-07-09    0.001111
2017-07-16    0.033708
2017-07-23    0.008253
2017-07-30   -0.005124
2017-08-06    0.046087
2017-08-13    0.010924
2017-08-20    0.000127
2017-08-27    0.014984
2017-09-03    0.026210
2017-09-10   -0.033039
2017-09-17    0.007880
2017-09-24   -0.049975
2017-10-01    0.014681
2017-10-08    0.007657
2017-10-15    0.010882
2017-10-22   -0.004714
2017-10-29    0.043520
2017-11-05    0.057958
2017-11-12    0.016220
2017-11-19   -0.025878
2017-11-26    0.028328
2017-12-03   -0.022404
2017-12-10   -0.009822
2017-12-17    0.027160
2017-12-24    0.005978
2017-12-31   -0.033027
Freq: W-SUN, Name: Close, dtype: float64

In [128]:
#Daily return of month 
daily_return = last_dayM.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [73]:
#Daily return of week
daily_return = last_dayW.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-08    0.009583
2017-01-15    0.009583
2017-01-22    0.008065
2017-01-29    0.016250
2017-02-05    0.058466
2017-02-12    0.027989
2017-02-19    0.027248
2017-02-26    0.006926
2017-03-05    0.022830
2017-03-12   -0.004578
2017-03-19    0.006109
2017-03-26    0.004643
2017-04-02    0.021473
2017-04-09   -0.002227
2017-04-16   -0.015976
2017-04-23    0.008649
2017-04-30    0.009700
2017-05-07    0.036965
2017-05-14    0.052258
2017-05-21   -0.019475
2017-05-28    0.003593
2017-06-04    0.011978
2017-06-11   -0.041621
2017-06-18   -0.045040
2017-06-25    0.028186
2017-07-02   -0.015450
2017-07-09    0.001111
2017-07-16    0.033708
2017-07-23    0.008253
2017-07-30   -0.005124
2017-08-06    0.046087
2017-08-13    0.010924
2017-08-20    0.000127
2017-08-27    0.014984
2017-09-03    0.026210
2017-09-10   -0.033039
2017-09-17    0.007880
2017-09-24   -0.049975
2017-10-01    0.014681
2017-10-08    0.007657
2017-10-15    0.010882
2017-10-22   -0.004714
2017-10-29    0.043520
2017-11-05    0.057958
2017-11-12    0.016220
2017-11-19   -0.025878
2017-11-26    0.028328
2017-12-03   -0.022404
2017-12-10   -0.009822
2017-12-17    0.027160
2017-12-24    0.005978
2017-12-31   -0.033027
Freq: W-SUN, Name: Close, dtype: float64

In [74]:
#Daily return of month
daily_return = last_dayM.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [130]:
#daily return of week 
daily_return = last_dayW.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [1]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [6]:
dict_1 = {'GP01': [27.5, 38.2, 40.5, 19.5],'GP02':[8376.9, 71889.4, 299.9, 172.1],
        'GP03':[284.92, 838.8, 19.4, 387.9], 'GP04': [389.5, 299.2, 48.9, 699.7]}
data_index = pd.date_range('2021-10-13',periods = 4, freq = 'D')
df = pd.DataFrame(dict_1, index = data_index)
print(df)

            GP01     GP02    GP03   GP04
2021-10-13  27.5   8376.9  284.92  389.5
2021-10-14  38.2  71889.4  838.80  299.2
2021-10-15  40.5    299.9   19.40   48.9
2021-10-16  19.5    172.1  387.90  699.7

In [11]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906773
2017-12-26    40.843605
2017-12-27    40.850773
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [12]:
df = aapl_table
print(df.Close.tail(8))
print(df['Volume'].tail(3))

Date
2017-12-19    41.794235
2017-12-20    41.748737
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843605
2017-12-27    40.850773
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [75]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852386  22.440248  21.750950  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431524  25.473245  25.236823  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226403  23.412961  23.044510  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296778  24.380729  24.177847  ...  110934800        0.0             0
2016-08-31  24.773061  24.986419  24.768371  ...  118649600        0.0             0
2016-09-30  26.367382  26.580742  26.212639  ...  145516400        0.0             0
2016-10-31  26.646391  26.782378  26.540882  ...  105677600        0.0             0
2016-11-30  26.300088  26.441486  25.986654  ...  144649200        0.0             0
2016-12-31  27.490191  27.619805  27.202681  ...  122345200        0.0             0

[12 rows x 7 columns]

In [15]:
aapl_2017 = df['2017']
aapl_month2 = aapl_2017.resample('M').agg(lambda x: x[-1])
print(aapl_month2)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  28.550681  28.607239  28.425779  ...  196804000        0.0             0
2017-02-28  32.444866  32.530073  32.354924  ...   93931600        0.0             0
2017-03-31  34.016455  34.146633  33.848407  ...   78646800        0.0             0
2017-04-30  34.104032  34.153737  33.909951  ...   83441600        0.0             0
2017-05-31  36.592905  36.640437  36.215023  ...   97804800        0.0             0
2017-06-30  34.330358  34.451568  34.171124  ...   92096400        0.0             0
2017-07-31  35.625618  35.727815  35.204958  ...   79383600        0.0             0
2017-08-31  39.043828  39.253793  39.005652  ...  107140400        0.0             0
2017-09-30  36.555284  36.774792  36.266582  ...  105199200        0.0             0
2017-10-31  40.060253  40.477796  39.831203  ...  144187200        0.0             0
2017-11-30  40.810066  41.219533  40.333556  ...  166108800        0.0             0
2017-12-31  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[12 rows x 7 columns]

In [16]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296778  24.380729  24.177847  24.301441
2016-08-31  24.773061  24.986419  24.768371  24.876223
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490191  27.619805  27.202681  27.294590

In [17]:
aapl_bar2 = aapl_month2[['Open', 'High', 'Low', 'Close']]
print(aapl_bar2)

                 Open       High        Low      Close
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889
2017-05-31  36.592905  36.640437  36.215023  36.305332
2017-06-30  34.330358  34.451568  34.171124  34.228165
2017-07-31  35.625618  35.727815  35.204958  35.347553
2017-08-31  39.043828  39.253793  39.005652  39.129723
2017-09-30  36.555284  36.774792  36.266582  36.772404
2017-10-31  40.060253  40.477796  39.831203  40.332253
2017-11-30  40.810066  41.219533  40.333556  41.150093
2017-12-31  40.831629  40.848389  40.520339  40.522732

In [18]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [20]:
print(aapl_month2.loc['2017-05':'2017-09',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2017-05-31  36.592905  36.640437  36.215023  36.305332
2017-06-30  34.330358  34.451568  34.171124  34.228165
2017-07-31  35.625618  35.727815  35.204958  35.347553
2017-08-31  39.043828  39.253793  39.005652  39.129723
2017-09-30  36.555284  36.774792  36.266582  36.772404

In [21]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-08-31  24.773061  24.986419  24.768371  24.876223
2016-09-30  26.367382  26.580742  26.212639  26.505714
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490191  27.619805  27.202681  27.294590

In [22]:
import numpy as np

above = aapl_bar2[aapl_bar2.Close > np.mean(aapl_bar2.Close)]
print(above)

                 Open       High        Low      Close
Date
2017-05-31  36.592905  36.640437  36.215023  36.305332
2017-08-31  39.043828  39.253793  39.005652  39.129723
2017-09-30  36.555284  36.774792  36.266582  36.772404
2017-10-31  40.060253  40.477796  39.831203  40.332253
2017-11-30  40.810066  41.219533  40.333556  41.150093
2017-12-31  40.831629  40.848389  40.520339  40.522732

In [23]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
aapl_bar2['rate_return'] = aapl_bar2.Close.pct_change()
print(aapl_bar2)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592905  36.640437  36.215023  36.305332     0.067807
2017-06-30  34.330358  34.451568  34.171124  34.228165    -0.057214
2017-07-31  35.625618  35.727815  35.204958  35.347553     0.032704
2017-08-31  39.043828  39.253793  39.005652  39.129723     0.106999
2017-09-30  36.555284  36.774792  36.266582  36.772404    -0.060244
2017-10-31  40.060253  40.477796  39.831203  40.332253     0.096808
2017-11-30  40.810066  41.219533  40.333556  41.150093     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [28]:
missing2 = aapl_bar2.isnull()
print(missing2)
print('---------------------------------------------')
print(missing2.describe())

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True
2017-02-28  False  False  False  False        False
2017-03-31  False  False  False  False        False
2017-04-30  False  False  False  False        False
2017-05-31  False  False  False  False        False
2017-06-30  False  False  False  False        False
2017-07-31  False  False  False  False        False
2017-08-31  False  False  False  False        False
2017-09-30  False  False  False  False        False
2017-10-31  False  False  False  False        False
2017-11-30  False  False  False  False        False
2017-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [29]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [30]:
print(missing2[missing2.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True

In [31]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955

In [32]:
drop2 = aapl_bar2.dropna()
print(drop2)
print('\n--------------------------------------------------\n')
fill2 = aapl_bar2.fillna(0)
print(fill2)

                 Open       High        Low      Close  rate_return
Date
2017-02-28  32.444866  32.530073  32.354924  32.423565     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592905  36.640437  36.215023  36.305332     0.067807
2017-06-30  34.330358  34.451568  34.171124  34.228165    -0.057214
2017-07-31  35.625618  35.727815  35.204958  35.347553     0.032704
2017-08-31  39.043828  39.253793  39.005652  39.129723     0.106999
2017-09-30  36.555284  36.774792  36.266582  36.772404    -0.060244
2017-10-31  40.060253  40.477796  39.831203  40.332253     0.096808
2017-11-30  40.810066  41.219533  40.333556  41.150093     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813     0.000000
2017-02-28  32.444866  32.530073  32.354924  32.423565     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592905  36.640437  36.215023  36.305332     0.067807
2017-06-30  34.330358  34.451568  34.171124  34.228165    -0.057214
2017-07-31  35.625618  35.727815  35.204958  35.347553     0.032704
2017-08-31  39.043828  39.253793  39.005652  39.129723     0.106999
2017-09-30  36.555284  36.774792  36.266582  36.772404    -0.060244
2017-10-31  40.060253  40.477796  39.831203  40.332253     0.096808
2017-11-30  40.810066  41.219533  40.333556  41.150093     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

In [33]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [35]:
table1 = pd.Series([83.1, 90.4, 89.2, 34.8, 109.8], name = 'GP01')
table2 = pd.Series([56.9, 24.9, 76.2, 17.5, 39.1], name = 'GP02')
data_frame2 = pd.concat([table1,table2], axis = 1)
print(data_frame2)

    GP01  GP02
0   83.1  56.9
1   90.4  24.9
2   89.2  76.2
3   34.8  17.5
4  109.8  39.1

In [36]:

log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288   3.109568
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063   3.190536
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652   3.213912
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504   3.277360
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334   3.281685
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601   3.259848
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955   3.306689

In [37]:

log_price2 = np.log(aapl_bar2.Close)
log_price2.name = 'log_price'
print(log_price2)
print('\n---------------------- separate line--------------------\n')
concat2 = pd.concat([aapl_bar2, log_price2], axis = 1)
print(concat2)

Date
2017-01-31    3.353330
2017-02-28    3.478885
2017-03-31    3.526427
2017-04-30    3.526357
2017-05-31    3.591965
2017-06-30    3.533049
2017-07-31    3.565229
2017-08-31    3.666882
2017-09-30    3.604748
2017-10-31    3.697151
2017-11-30    3.717226
2017-12-31    3.701863
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN   3.353330
2017-02-28  32.444866  32.530073  32.354924  32.423565     0.133778   3.478885
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048690   3.526427
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070   3.526357
2017-05-31  36.592905  36.640437  36.215023  36.305332     0.067807   3.591965
2017-06-30  34.330358  34.451568  34.171124  34.228165    -0.057214   3.533049
2017-07-31  35.625618  35.727815  35.204958  35.347553     0.032704   3.565229
2017-08-31  39.043828  39.253793  39.005652  39.129723     0.106999   3.666882
2017-09-30  36.555284  36.774792  36.266582  36.772404    -0.060244   3.604748
2017-10-31  40.060253  40.477796  39.831203  40.332253     0.096808   3.697151
2017-11-30  40.810066  41.219533  40.333556  41.150093     0.020278   3.717226
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246   3.701863

In [38]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646391  26.782378  26.540882  26.620600
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490191  27.619805  27.202681  27.294590
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [44]:
df_volume2 = aapl_table.loc['2017-08':'2017-12',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume2)
print('\n---------------------- separate line--------------------\n')
df_2017final = aapl_table.loc['2017-08':'2018-12',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017final)

               Volume  Stock Splits
Date
2017-08-31  107140400             0
2017-09-30  105199200             0
2017-10-31  144187200             0
2017-11-30  166108800             0
2017-12-31  103999600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2017-08-31  39.043828  39.253793  39.005652  39.129723
2017-09-30  36.555284  36.774792  36.266582  36.772404
2017-10-31  40.060253  40.477796  39.831203  40.332253
2017-11-30  40.810066  41.219533  40.333556  41.150093
2017-12-31  40.831629  40.848389  40.520339  40.522732

In [41]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852386  22.440248  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431524  25.473245  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226403  23.412961  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296778  24.380729  ...          NaN           NaN
2016-08-31  24.773061  24.986419  ...          NaN           NaN
2016-09-30  26.367382  26.580742  ...          NaN           NaN
2016-10-31  26.646391  26.782378  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490191  27.619805  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [45]:
concat2 = pd.concat([aapl_bar2, df_volume2], axis = 1)
print(concat2)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2017-01-31  28.550681  28.607239  ...          NaN           NaN
2017-02-28  32.444866  32.530073  ...          NaN           NaN
2017-03-31  34.016455  34.146633  ...          NaN           NaN
2017-04-30  34.104032  34.153737  ...          NaN           NaN
2017-05-31  36.592905  36.640437  ...          NaN           NaN
2017-06-30  34.330358  34.451568  ...          NaN           NaN
2017-07-31  35.625618  35.727815  ...          NaN           NaN
2017-08-31  39.043828  39.253793  ...  107140400.0           0.0
2017-09-30  36.555284  36.774792  ...  105199200.0           0.0
2017-10-31  40.060253  40.477796  ...  144187200.0           0.0
2017-11-30  40.810066  41.219533  ...  166108800.0           0.0
2017-12-31  40.831629  40.848389  ...  103999600.0           0.0

[12 rows x 7 columns]

In [46]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646391  26.782378  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490191  27.619805  ...  122345200             0

[3 rows x 7 columns]

In [47]:
concat = pd.concat([aapl_bar2,df_volume2],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2017-08-31  39.043828  39.253793  ...  107140400             0
2017-09-30  36.555284  36.774792  ...  105199200             0
2017-10-31  40.060253  40.477796  ...  144187200             0
2017-11-30  40.810066  41.219533  ...  166108800             0
2017-12-31  40.831629  40.848389  ...  103999600             0

[5 rows x 7 columns]

In [48]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646391  26.782378  26.540882  26.620600          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [49]:
append = aapl_bar2.append(df_2017final)
print(append)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592905  36.640437  36.215023  36.305332     0.067807
2017-06-30  34.330358  34.451568  34.171124  34.228165    -0.057214
2017-07-31  35.625618  35.727815  35.204958  35.347553     0.032704
2017-08-31  39.043828  39.253793  39.005652  39.129723     0.106999
2017-09-30  36.555284  36.774792  36.266582  36.772404    -0.060244
2017-10-31  40.060253  40.477796  39.831203  40.332253     0.096808
2017-11-30  40.810066  41.219533  40.333556  41.150093     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246
2017-08-31  39.043828  39.253793  39.005652  39.129723          NaN
2017-09-30  36.555284  36.774792  36.266582  36.772404          NaN
2017-10-31  40.060253  40.477796  39.831203  40.332253          NaN
2017-11-30  40.810066  41.219533  40.333556  41.150093          NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN

In [50]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955
2016-10-31  26.646391  26.782378  26.540882  26.620600          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [51]:
concat = pd.concat([aapl_bar2, df_2017final], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048690
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592905  36.640437  36.215023  36.305332     0.067807
2017-06-30  34.330358  34.451568  34.171124  34.228165    -0.057214
2017-07-31  35.625618  35.727815  35.204958  35.347553     0.032704
2017-08-31  39.043828  39.253793  39.005652  39.129723     0.106999
2017-09-30  36.555284  36.774792  36.266582  36.772404    -0.060244
2017-10-31  40.060253  40.477796  39.831203  40.332253     0.096808
2017-11-30  40.810066  41.219533  40.333556  41.150093     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246
2017-08-31  39.043828  39.253793  39.005652  39.129723          NaN
2017-09-30  36.555284  36.774792  36.266582  36.772404          NaN
2017-10-31  40.060253  40.477796  39.831203  40.332253          NaN
2017-11-30  40.810066  41.219533  40.333556  41.150093          NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN

In [52]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN        NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288        NaN
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063        NaN
2016-08-31  24.773061  24.986419  24.768371  24.876223     0.023652        NaN
2016-09-30  26.367382  26.580742  26.212639  26.505714     0.065504        NaN
2016-10-31  26.646391  26.782378  26.540882  26.620600     0.004334        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490191  27.619805  27.202681  27.294590     0.047955        NaN
2016-10-31        NaN  26.782378  26.540882  26.620600          NaN  26.646391
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619805  27.202681  27.294590          NaN  27.490191
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530073  32.354924  32.423565          NaN  32.444866
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [53]:
df_2017final.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar2, df_2017final], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN        NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565     0.133778        NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048690        NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070        NaN
2017-05-31  36.592905  36.640437  36.215023  36.305332     0.067807        NaN
2017-06-30  34.330358  34.451568  34.171124  34.228165    -0.057214        NaN
2017-07-31  35.625618  35.727815  35.204958  35.347553     0.032704        NaN
2017-08-31  39.043828  39.253793  39.005652  39.129723     0.106999        NaN
2017-09-30  36.555284  36.774792  36.266582  36.772404    -0.060244        NaN
2017-10-31  40.060253  40.477796  39.831203  40.332253     0.096808        NaN
2017-11-30  40.810066  41.219533  40.333556  41.150093     0.020278        NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246        NaN
2017-08-31        NaN  39.253793  39.005652  39.129723          NaN  39.043828
2017-09-30        NaN  36.774792  36.266582  36.772404          NaN  36.555284
2017-10-31        NaN  40.477796  39.831203  40.332253          NaN  40.060253
2017-11-30        NaN  41.219533  40.333556  41.150093          NaN  40.810066
2017-12-31        NaN  40.848389  40.520339  40.522732          NaN  40.831629